
		body {
			  background-image: linear-gradient(to right,#ee7752, #e73c7e, #23a6d5, #23d5ab);
	          background-size: 800% ;
	          animation: gradient 10s ease infinite;
		}
		
		@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
		
		h1 {
			color: black;
			text-shadow: 0 0 2px white , 0 0 2px red;
			font-size: 50px;
			font-family:'Trocchi',serif;
			line-height : 500px;
			text-align: center;
			
		}
	
